body {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(https://deepam-aggarwal.github.io/Deepam-Portfolio/assets/hero%20image.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: brightness(60%);
    }

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

    .hero-button:hover {
        background-color: #cb376a;
        border: 1px solid #db7598;
    }

.card1 {
    /*background: rgba(255, 255, 255, .7) ;*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;*/
    width: 70%;
    /*height: 5% ;*/
    margin: auto;
    text-align: center;
}

    .card1 a {
        font-size: 250%;
        color: black;
        padding: 10px;
        text-decoration: none;
    }

        .card1 a:hover {
            border: 1px solid black;
            box-shadow: 2px 2px 5px 1px;
            color: brown
        }

/*.tablescroll {
    overflow-x: auto;
}

caption {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin: 1rem auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: #ccc;
}

th, td {
    padding: 0.5rem;
    border-right: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

    tr:nth-child(odd) {
        background-color: #eee;
    }*/
table, thead, tbody, th, td, tr {
    display: block;
}

    /* Hide table headers (but not display: none; for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

td, th {
    border: none;
}

    td::before {
        /* Top/left values mimic padding */
        white-space: nowrap;
        font-weight: bold;
    }

    /* Label the data */
    td:nth-of-type(1)::before {
        content: "Institute: ";
    }

    td:nth-of-type(2)::before {
        content: "Course: ";
    }

    td:nth-of-type(3)::before {
        content: "Year: ";
    }

    td:nth-of-type(4)::before {
        content: "Grades: ";
    }

    td:nth-of-type(5)::before {
        content: "Academic Details: ";
    }

    /*td:nth-of-type(2)::after {
        content: " g";
    }*/

    td:nth-of-type(4)::after {
        content: " CGPA";
    }

/*td:nth-of-type(5)::after {
        content: "  \B5g/measure";
    }*/

/* let the table scroll as a backup */
.tablescroll {
    overflow-x: auto;
}
/* basic CSS styles */

.n {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin: 1rem auto;
    width: 100%;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 0.5rem;
    /* border-right: 1px solid black; */
}

tr:not(:last-child),
thead {
    border-bottom: 1px solid black;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table caption::before {
    content: '↑';
}

.greeting {
    background: #4c84ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    position: relative;
    line-height: 26px;
}

 .greeting::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 10px solid #4c84ff;
    border-bottom: 10px solid transparent;
}
