/* -------------------------------------------------
  (min-width: 991px) and (max-width: 1199px)
---------------------------------------------------*/
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .widget_countdown {
        padding: 10px;
    }

        .widget_countdown .countdown_box .countdown {
            font-size: 20px;
        }

        .widget_countdown .countdown_box::before {
            font-size: 16px;
            top: 3px;
        }

        .widget_countdown .countdown_time .cd_text {
            font-size: 10px;
        }
}

/* -------------------------------------------------
  (min-width: 767px) and (max-width: 991px)
---------------------------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 991px) {
    header .social_icons li a {
        width: 25px;
    }
}

/* -------------------------------------------------
  max-width: 1199px
---------------------------------------------------*/
@media only screen and (max-width: 1199px) {
    section,
    .top_footer {
        padding: 40px 0;
    }

        section.small_pt,
        .top_footer.small_pt {
            padding-top: 40px;
        }

        section.small_pb,
        .top_footer.small_pb {
            padding-bottom: 40px;
        }

    .h1, h1 {
        font-size: 34px;
    }

    .h2, h2 {
        font-size: 30px;
    }

    .h3, h3 {
        font-size: 26px;
    }

    .h4, h4 {
        font-size: 22px;
    }

    .h5, h5 {
        font-size: 18px;
    }

    .large_divider {
        height: 80px;
    }

    .medium_divider {
        height: 40px;
    }

    .small_divider {
        height: 20px;
    }

    .medium_padding {
        padding: 40px;
    }

    .page-title h1 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 992px) {
    .heading_s1.text-lg-left::before {
        margin: 0;
        right: auto;
    }

    .heading_s1.text-lg-center::before {
        margin: 0 auto;
        right: 0;
    }

    .heading_s1.text-lg-right::before {
        margin: 0;
        right: 0;
        left: auto;
    }

    .heading_s2.text-lg-left::before {
        margin: 0;
        right: auto;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu {
        display: none;
        left: 100%;
        top: 0;
    }

    .navbar-expand-lg .navbar-nav li:hover > .dropdown-menu, .overlay_menu .navbar-expand-lg .navbar-nav li:hover > .dropdown-menu.cart_box {
        display: block;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu.dropdown-reverse {
        left: auto;
        right: 100%;
    }

    .navbar-expand-lg .navbar-nav li:hover > .dropdown-menu.cart_box {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* -------------------------------------------------
  max-width: 991px
---------------------------------------------------*/
@media only screen and (max-width: 991px) {
    .padding_eight_all {
        padding: 5%;
    }

    #navbarSupportedContent .navbar-nav {
        max-height: 80vh;
        overflow-y: auto;
    }

    .header_wrap .navbar {
        display: block;
        position: static;
    }

    .header_wrap .navbar-expand-lg .navbar-nav.attr-nav {
        display: block;
        float: right;
    }

    .navbar-expand-lg .navbar-nav.attr-nav li {
        float: left;
    }

    .navbar-brand {
        padding: 10px 0;
        vertical-align: top;
    }

    .navbar-expand-lg .attr-nav li .nav-link {
        padding: 14px 10px !important;
    }

    .header_wrap .navbar-collapse {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .header_wrap.light_skin .navbar-collapse::before {
        border-top: 1px solid rgba(255,255,255,0.2);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }

    .header_wrap.dark_skin .navbar-collapse {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .header_wrap #navbarSupportedContent .navbar-nav {
        padding: 10px;
    }

        .header_wrap #navbarSupportedContent .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
            background-color: #343a40;
        }

    .header_wrap.dark_skin #navbarSupportedContent .navbar-nav:not([class*="bg_"]):not([class*="bg-"]) {
        background-color: #fff;
    }

    .navbar-expand-lg .navbar-nav > li > .nav-link, .nav-fixed .navbar-expand-lg .navbar-nav > li > .nav-link, .bottom-header .navbar-expand-lg .navbar-nav > li > .nav-link {
        padding: 10px;
    }

    .dark_skin:not([class*="bg_"]):not([class*="bg-"]) .navbar-nav .dropdown-menu {
        box-shadow: none;
        border: 0;
        margin-top: 0;
    }

    .dark_skin .navbar-nav .dropdown-menu {
        box-shadow: none;
        border: 0;
        margin-top: 0;
    }

    .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
        padding-left: 15px;
    }

    .dropdown-toggle::after, .dropdown-toggler::after {
        float: right;
        margin-top: 3px;
    }

    .navbar-nav li.show .dropdown-toggle::after,
    .navbar-nav li .dropdown-menu li.show .dropdown-toggler::after {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .dropdown-toggler::after {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .banner_content h2 {
        font-size: 40px;
    }

    .icon_box {
        padding: 15px;
    }

    .icon_box_style2:hover {
        margin-top: 15px;
    }

    .md-height-300 {
        height: 300px !important;
    }

    .testi_desc {
        margin-top: 20px;
    }

    .testimonial_img img {
        max-width: 60px;
    }

    .testi_desc {
        margin-top: 20px;
    }

    .testimonial_style1 .testimonial_img {
        margin-left: -40px;
    }

    .testimonial_style1 .testimonial_box {
        padding: 20px 20px 20px 20px;
        margin: 5px 5px 5px 20px;
    }

    .testi_meta {
        overflow: visible;
    }

    .grid_col4 > li {
        width: 33.33%;
    }

    .course_list .content_img {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .course_list .content_desc {
        overflow: hidden;
        max-height: none;
        min-height: auto;
    }

    .testimonial_style2 .testimonial_img {
        margin: -60px auto 20px;
    }

    .testimonial_style2 .testimonial_box {
        margin-top: 45px;
        padding: 15px;
    }

    .overlap_section {
        border-radius: 0 100px 100px 0;
    }

    .testimonial_style1 .testimonial_box::before {
        right: 20px;
        font-size: 100px;
    }
}
/* -------------------------------------------------
  min-width: 768px
---------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .heading_s1.text-md-left::before {
        margin: 0;
        right: auto;
    }

    .heading_s1.text-md-center::before {
        margin: 0 auto;
        right: 0;
    }

    .heading_s1.text-md-right::before {
        margin: 0;
        right: 0;
        left: auto;
    }
}
/* -------------------------------------------------
  max-width: 767px
---------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .h1, h1 {
        font-size: 32px;
    }

    .h2, h2 {
        font-size: 28px;
    }

    .h3, h3 {
        font-size: 24px;
    }

    .h4, h4 {
        font-size: 20px;
    }

    .heading_s4 .sub_title {
        font-size: 70px;
        margin-bottom: -30px;
    }

    .card.my-card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card.my-up-card {
        width: 100%;
    }

    section,
    .top_footer {
        padding: 50px 0;
    }

        section.small_pt,
        .top_footer.small_pt {
            padding-top: 25px;
        }

        section.small_pb,
        .top_footer.small_pb {
            padding-bottom: 25px;
        }

    .large_divider {
        height: 50px;
    }

    .medium_divider {
        height: 25px;
    }

    .small_divider {
        height: 15px;
    }

    .medium_padding {
        padding: 25px;
    }

    .padding_eight_all {
        padding: 45px 5%;
    }

    .scrollup {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        right: 10px;
        width: 40px;
    }

    .banner_content h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .banner_content p {
        margin-bottom: 25px;
    }

    .overlap_box {
        margin: 0;
    }

    .icon_box,
    .content_box,
    .team_box,
    .blog_post {
        margin-top: 15px;
    }

    .sm-height-300 {
        height: 300px !important;
    }

    .price .alert {
        padding: 5px 10px;
    }

    .teacher span {
        font-size: 14px;
    }

    .box_counter {
        margin-top: 20px;
    }

    [class*="col-"]:nth-child(-n+2) .box_counter {
        margin-top: 0;
    }

    .content_meta li {
        padding-right: 10px;
        font-size: 14px;
    }

    .event_date {
        max-width: 80px;
    }

    .page-title h1 {
        font-size: 30px;
    }

    .countent_detail_meta li {
        float: none;
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
        clear: both;
        text-align: center;
        margin-bottom: 15px;
    }

    .instructor img {
        float: none;
        margin-right: 0;
    }

    .countent_detail_meta li.enroll_btn {
        float: none;
    }

    .nav-tabs li.nav-item {
        margin-right: 10px;
    }

    .rating_review {
        padding: 10px;
    }

    .review_number {
        font-size: 50px;
    }

    .contact_map iframe {
        height: 300px;
    }

    .map_radius_rtrb {
        border-radius: 0 0 10px 10px;
    }

    .error_txt {
        font-size: 140px;
    }

    .grid_col3 > li,
    .grid_col4 > li {
        width: 50%;
    }

    .overlap_section {
        border-radius: 0;
        margin: 0;
    }

    .icon_box_style1.icon_box:hover {
        -moz-transform: translate3d(0,0px, 0);
        -webkit-transform: translate3d(0,0px, 0);
        transform: translate3d(0,0px, 0);
    }

    .res_md_p_0 {
        padding: 0;
    }

    .single_post .post_navigation, .single_post .related_post {
        margin: 30px 0;
    }

    .course_detail {
        margin-bottom: 25px;
    }

    .cta_section p:last-child {
        margin-bottom: 15px;
    }
}
/* -------------------------------------------------
  max-width: 640px
---------------------------------------------------*/
@media only screen and (max-width: 640px) {
    .carousel-control-next, .carousel-control-prev {
        font-size: 14px;
        height: 40px;
        top: auto;
        width: 40px;
        margin: 0 5px;
    }

    .full_screen, .full_screen .carousel-item {
        height: 350px;
    }

    .banner_content_wrap .carousel-item {
        padding: 30px 0;
    }

    .nav_style1 {
        right: 0;
    }

    .nav_style1{
        left: 0;
    }

    .overlap_box {
        margin-top: 50px;
    }

    .cat_overlap_box {
        top: 0;
    }
}
/* -------------------------------------------------
  max-width: 580px
---------------------------------------------------*/
@media only screen and (max-width: 580px) {
    .btn-default,
    .btn-black,
    .btn-outline-white,
    .btn-outline-black,
    .btn-outline-default {
        padding: 10px 25px;
    }

    .btn-group-sm > .btn, .btn-sm {
        padding: 7px 15px;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 15px 40px;
    }

    .btn-xs {
        padding: 4px 15px;
        font-size: 12px;
    }

    .btn-md {
        padding: 10px 25px;
        font-size: 16px;
    }

    .btn-lg {
        padding: 10px 25px;
        font-size: 18px;
    }

    .btn.btn-xs i {
        font-size: 12px;
    }

    .btn.btn-lg i {
        font-size: 24px;
    }
}

/* -------------------------------------------------
  max-width: 576px
---------------------------------------------------*/
@media only screen and (min-width: 576px) {
    .top-heading {
        font-size: xx-small;
    }

    .navbar-brand {
        top: 16px;
        padding: 17px 0;
        position: relative;
        padding: 17px 0;
    }

    .heading_s1.text-sm-left::before {
        margin: 0;
        right: auto;
    }

    .heading_s1.text-sm-center::before {
        margin: 0 auto;
        right: 0;
    }

    .heading_s1.text-sm-right::before {
        margin: 0;
        right: 0;
        left: auto;
    }
}

/* -------------------------------------------------
  max-width: 575px
---------------------------------------------------*/
@media only screen and (max-width: 575px) {
    .top-heading {
        font-size: xx-small;
    }

    nav.navbar {
        padding: 0;
        position: relative;
        float: left;
        z-index: 10;
        width: 100%;
        background: #003153;
    }

    strong.main-header {
        font-size: 11px;
    }

    p.sub-header {
        font-size: 9px;
    }

    .navbar-brand {
        top: 16px;
        padding: 17px 0;
        position: relative;
        padding: 17px 0;
    }

    .rating_review,
    .rating_box {
        width: 100%;
    }

    .breadcrumb {
        padding-top: 5px;
    }

    footer .widget_title {
        margin-top: 0;
        color: #ffbc09;
    }

    .widget_title {
        margin-bottom: 15px;
    }
}
/* -------------------------------------------------
  max-width: 480px
---------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .h1, h1 {
        font-size: 24px;
    }

    .h2, h2 {
        font-size: 22px;
    }

    .h3, h3 {
        font-size: 20px;
    }

    .h4, h4 {
        font-size: 18px;
    }

    .h5, h5 {
        font-size: 16px;
    }

    .h6, h6 {
        font-size: 14px;
    }

    .top-heading {
        font-size: xx-small;
    }

    section,
    .top_footer {
        padding: 30px 0;
    }

    .overlap_box {
        margin-top: 30px;
    }

    section.small_pt,
    .top_footer.small_pt {
        padding-top: 15px;
    }

    section.small_pb,
    .top_footer.small_pb {
        padding-bottom: 15px;
    }

    .large_divider {
        height: 30px;
    }

    .medium_divider {
        height: 15px;
    }

    .small_divider {
        height: 10px;
    }

    .medium_padding {
        padding: 15px;
    }

    .padding_ten_all {
        padding: 30px;
    }

    .btn-default, .btn-black, .btn-outline-white, .btn-outline-black, .btn-outline-default {
        padding: 10px 22px;
    }

    .btn-default,
    .btn-black,
    .btn-outline-white,
    .btn-outline-black,
    .btn-outline-default {
        font-size: 14px;
    }

    .btn + .btn {
        margin-left: 5px;
    }

    .btn-group-sm > .btn, .btn-sm {
        padding: 7px 15px;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 15px 40px;
    }

    .btn-xs {
        padding: 4px 15px;
        font-size: 12px;
    }

    .btn-md {
        padding: 10px 22px;
        font-size: 14px;
    }

    .btn-lg {
        padding: 10px 22px;
        font-size: 16px;
    }

    .btn i {
        font-size: 18px;
    }

    .btn.btn-lg i {
        font-size: 22px;
    }

    .padding_eight_all {
        padding: 25px 5%;
    }

    .navbar-brand {
        top: 16px;
        padding: 17px 0;
        position: relative;
        padding: 17px 0;
    }

    .banner_content h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .banner_content p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .carousel-control-next, .carousel-control-prev {
        font-size: 16px;
        height: 40px;
        width: 40px;
    }

    .box_counter img {
        max-width: 40px;
        margin-bottom: 10px;
    }

    .counter_text {
        font-size: 20px;
    }

    .login_footer a,
    .custome-checkbox .form-check-label {
        font-size: 14px;
    }

        .custome-checkbox .form-check-label::before {
            height: 18px;
            width: 18px;
        }

    .custome-checkbox input[type="checkbox"] + .form-check-label::after {
        top: 4px;
        left: 4px;
    }

    .page-title h1 {
        font-size: 22px;
    }

    .course_title h2, .event_title h2 {
        font-size: 18px;
    }

    .nav-tabs li.nav-item {
        margin-right: 0;
    }

        .nav-tabs li.nav-item a {
            padding: 10px;
        }

    .course_author {
        padding: 20px 20px 20px 20px;
        margin: 5px 5px 5px 20px;
    }

    .author_img {
        margin-left: -40px;
    }

        .author_img img {
            max-width: 60px;
        }

    .user_img img {
        max-width: 60px;
    }

    .author_meta {
        overflow: visible;
    }

    .author_desc {
        margin-top: 15px;
        width: 100%;
        display: inline-block;
    }

    .rating_box {
        padding: 10px;
    }

    .item_name, .course_item_meta {
        font-size: 14px;
    }

    .course_item .course_item_meta .duration {
        margin-bottom: 5px;
    }

    .accordion .card-header a {
        padding: 15px 15px 15px 40px;
        font-size: 14px;
    }

        .accordion .card-header a::after {
            left: 15px;
            top: 16px;
        }

    .course_tabs .accordion .card-header a {
        padding: 15px 100px 15px 40px;
    }

    .item_meta.duration {
        right: 15px;
        font-size: 12px;
        top: 14px;
    }

    .review_number {
        font-size: 40px;
    }

    .countdown_box .countdown,
    .countdown_box::before {
        font-size: 30px;
    }

    .countdown_time .cd_text {
        font-size: 14px;
    }

    .share h5 {
        margin-top: 10px;
    }

    blockquote::before {
        left: 15px;
        top: 14px;
    }

    blockquote {
        padding: 15px 15px 15px 55px;
    }

    .post_navigation span {
        font-size: 14px;
    }

    .error_txt {
        font-size: 100px;
    }

    .sub-header {
        font-size: 9px;
    }

    .grid_filter li {
        margin: 5px 3px;
        width: 47%;
    }

    .grid_col3 > li,
    .grid_col4 > li {
        width: 100%;
    }

    .fancy_box::before,
    .fancy_box::after {
        content: normal;
    }

    .single_post .post_navigation, .single_post .related_post {
        margin: 20px 0;
    }

    .course_detail {
        margin-bottom: 15px;
    }

    .single_post .comment_list {
        margin-bottom: 20px;
    }

    nav.navbar {
        padding: 0;
        position: relative;
        float: left;
        z-index: 10;
        width: 100%;
        background: #003153;
    }

    strong.main-header {
        font-size: 11px;
    }

    p.sub-header {
        font-size: 9px;
    }
}
/* -------------------------------------------------
  max-width: 380px
---------------------------------------------------*/
@media only screen and (max-width: 380px) {
    .top-heading {
        font-size: xx-small;
    }

    .light_skin .header_list li a {
        font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav.attr-nav li {
        position: static;
    }

    .border_list::before {
        content: normal;
    }

    .btn-login li a {
        padding: 7px 15px;
    }

    .course_tabs .nav-tabs li.nav-item a {
        font-size: 13px;
        padding: 7px
    }

    .countdown_box .countdown {
        font-size: 20px;
    }

    .countdown_box::before {
        font-size: 22px;
    }

    .countdown_time .cd_text {
        font-size: 12px;
    }

    .comment_content .comment-reply {
        padding: 5px 10px;
    }

    .user_img img {
        max-width: 40px;
    }

    .comment_info.reply {
        padding-left: 20px;
    }

    .content_title {
        font-size: 16px;
    }

    .event_list .content_desc p {
        font-size: 14px;
    }

    strong.main-header {
        font-size: 11px;
    }

    p.sub-header {
        font-size: 9px;
    }

    nav.navbar {
        padding: 0;
        position: relative;
        float: left;
        z-index: 10;
        width: 100%;
        background: #003153;
    }

    .navbar-brand {
        top: 16px;
        padding: 17px 0;
        position: relative;
        padding: 17px 0;
    }

    .mem-image {
        width: 100%;
    }

    .card.my-card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card.my-up-card {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .card1 {
        width: 100% !important;
    }

        .card1 a {
            font-size: 250% !important;
            padding: 5px !important;
            color: silver !important;
        }

            .card1 a:hover {
                color: lightsalmon !important;
            }
    /* td {
        display: -webkit-box;
    }

    th {
        display: none;
    }*/
    table li::before {
        content: '▶';
    }

    table caption::before {
        content: '↓';
    }

    table caption {
        display: block;
    }

    .tcol-lg-6 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }
    .hero-button {
        background-color: #ae2d59;
        color: white;
        border: 1px solid #cb376a;
        margin-top: 0.5rem;
        padding: 0.9375rem 1.875rem;
        font-family: "Monserrat", sans-serif;
        font-size: 1.125rem;
        font-weight: 200;
        cursor: pointer;
    }
  
}

@media (max-width: 991px) {
    .portfolio-category li a {
        padding: 5px 20px;
    }

    .portfolio-details .info {
        margin-top: 30px;
    }

    .aside-contact-form .contact-form {
        margin-bottom: 0px !important;
    }

    .portfolio-details {
        padding: 100px 0px 120px;
    }

    .google_map_wrapper iframe {
        height: 250px;
    }

    .project-details {
        margin-top: 25px;
    }
}


@media (max-width: 767px) {
    .project-details-info {
        padding-top: 30px;
    }

    .author-image {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }

        .author-image img {
            display: inline-block;
        }

    .portfolio-details .content .title {
        font-size: 24px;
    }
}
@media (max-width: 576px) {
    .ajax-container .header-area .project-title {
        font-size: 20px;
        line-height: 30px;
    }
    .info-list li {
        display: block;
        list-style: none;
        flex: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 15px;
    }
}
@media (max-width: 414px) {
    .ajax-container iframe {
        height: 300px !important;
    }
}

    @media (max-width: 1199px) {

        .portfolio-category li a {
            display: inline-block;
        }
    }

    @media (max-width: 767px) {
        .project-gallery .project-gallery-filter .project-gallery-menu .filter {
            margin: 3px 5px;
        }
    }

    @media(min-width: 600px) {
        td:nth-of-type(odd):before,
        td:nth-of-type(even):before,
        td:nth-of-type(odd):after,
        td:nth-of-type(even):after {
            content: "";
        }

        thead tr {
            position: static;
        }

        thead, tbody {
            display: table-row-group;
        }

        th, td {
            display: table-cell;
        }

        tr {
            display: table-row;
        }

        table {
            display: table;
        }
    }

    @media (max-width: 991px) {
        .home-page-form {
            margin-bottom: 30px;
        }
    }
    /*Advisory Members
@media only screen and (max-width: 450px)
{
	.mem-image img{
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 800px)
{
	.mem-image img{
		display: block;
		margin: 0 auto;
	}
}*/